HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### file cfg ###
!.gitkeep
rebel.xml
attachments/db/gen-copilot.db
!attachments/db/gen-copilot.zip

### dir ####
/.logs
/src/main/resources/static

/attachments/tmp/
attachments/.docker/build_image_springboot/*.jar
attachments/.docker/attachments/db/*.db

/attachments/.docker/attachments/template/
/attachments/.docker/data/nginx/dist/




